# CSV file 1

## Load dataset

In [1]:
import pandas as pd

fileName = 'Meth_pssm+spd_positive.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(6323, 274)

In [2]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,264,265,266,267,268,269,270,271,272,273
0,25.0,-7.6200,25.0,-4.070,10.70,25.0,-2.06,1.860,15.2,25.0,...,25.0,-2.86,-9.22,-3.77,-7.13,-15.3,3.27,-24.9,-2.86,25.0
1,25.0,-10.2000,25.0,-11.200,11.20,25.0,-6.07,3.550,16.3,25.0,...,25.0,-2.11,-6.74,22.60,-17.80,-19.9,-10.20,-25.0,-2.11,25.0
2,25.0,-5.7900,25.0,2.110,9.63,25.0,1.36,4.580,20.4,25.0,...,25.0,-14.90,-8.79,-1.86,-9.69,-23.0,-4.15,-22.4,-14.90,25.0
3,25.0,-1.4900,25.0,-0.941,8.97,25.0,-2.13,1.880,16.0,25.0,...,25.0,-14.40,-4.10,6.81,-15.40,-21.7,9.28,-13.7,-14.40,25.0
4,25.0,-0.0711,25.0,-4.850,9.32,25.0,-5.97,-0.816,16.4,25.0,...,25.0,-9.81,-13.20,19.30,-15.00,-17.6,2.15,-24.7,-9.81,25.0

## Positive = 1

In [3]:
import numpy as np

dummy_one = np.ones(len(dataset), dtype='int')
series = pd.Series(dummy_one)
dataset = pd.concat([dataset, series], axis=1)

In [4]:
dataset.shape

(6323, 275)

In [5]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,265,266,267,268,269,270,271,272,273,0
0,25.0,-7.6200,25.0,-4.070,10.70,25.0,-2.06,1.860,15.2,25.0,...,-2.86,-9.22,-3.77,-7.13,-15.3,3.27,-24.9,-2.86,25.0,1
1,25.0,-10.2000,25.0,-11.200,11.20,25.0,-6.07,3.550,16.3,25.0,...,-2.11,-6.74,22.60,-17.80,-19.9,-10.20,-25.0,-2.11,25.0,1
2,25.0,-5.7900,25.0,2.110,9.63,25.0,1.36,4.580,20.4,25.0,...,-14.90,-8.79,-1.86,-9.69,-23.0,-4.15,-22.4,-14.90,25.0,1
3,25.0,-1.4900,25.0,-0.941,8.97,25.0,-2.13,1.880,16.0,25.0,...,-14.40,-4.10,6.81,-15.40,-21.7,9.28,-13.7,-14.40,25.0,1
4,25.0,-0.0711,25.0,-4.850,9.32,25.0,-5.97,-0.816,16.4,25.0,...,-9.81,-13.20,19.30,-15.00,-17.6,2.15,-24.7,-9.81,25.0,1

## After positive = 1 and save the new CSV file

In [6]:
dataset.to_csv('pssm+spd_Pos.csv')

## Remove unnecessary row and column

In [9]:
import pandas as pd

fileName = 'pssm+spd_Pos.csv'
dataset = pd.read_csv(fileName, header=None, engine='python')
dataset.shape

(6324, 276)

In [10]:
dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,...,266,267,268,269,270,271,272,273,274,275
0,NaN,0.0,1.00,2.0,3.000,4.00,5.0,6.00,7.00,8.0,...,265.00,266.00,267.00,268.00,269.0,270.00,271.0,272.00,273.0,0
1,0.0,25.0,-7.62,25.0,-4.070,10.70,25.0,-2.06,1.86,15.2,...,-2.86,-9.22,-3.77,-7.13,-15.3,3.27,-24.9,-2.86,25.0,1
2,1.0,25.0,-10.20,25.0,-11.200,11.20,25.0,-6.07,3.55,16.3,...,-2.11,-6.74,22.60,-17.80,-19.9,-10.20,-25.0,-2.11,25.0,1
3,2.0,25.0,-5.79,25.0,2.110,9.63,25.0,1.36,4.58,20.4,...,-14.90,-8.79,-1.86,-9.69,-23.0,-4.15,-22.4,-14.90,25.0,1
4,3.0,25.0,-1.49,25.0,-0.941,8.97,25.0,-2.13,1.88,16.0,...,-14.40,-4.10,6.81,-15.40,-21.7,9.28,-13.7,-14.40,25.0,1

In [11]:
df = pd.DataFrame(dataset)

df = df.iloc[1:, 1:]

In [12]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,266,267,268,269,270,271,272,273,274,275
1,25.0,-7.6200,25.0,-4.070,10.70,25.0,-2.06,1.860,15.2,25.0,...,-2.86,-9.22,-3.77,-7.13,-15.3,3.27,-24.9,-2.86,25.0,1
2,25.0,-10.2000,25.0,-11.200,11.20,25.0,-6.07,3.550,16.3,25.0,...,-2.11,-6.74,22.60,-17.80,-19.9,-10.20,-25.0,-2.11,25.0,1
3,25.0,-5.7900,25.0,2.110,9.63,25.0,1.36,4.580,20.4,25.0,...,-14.90,-8.79,-1.86,-9.69,-23.0,-4.15,-22.4,-14.90,25.0,1
4,25.0,-1.4900,25.0,-0.941,8.97,25.0,-2.13,1.880,16.0,25.0,...,-14.40,-4.10,6.81,-15.40,-21.7,9.28,-13.7,-14.40,25.0,1
5,25.0,-0.0711,25.0,-4.850,9.32,25.0,-5.97,-0.816,16.4,25.0,...,-9.81,-13.20,19.30,-15.00,-17.6,2.15,-24.7,-9.81,25.0,1

In [13]:
df.shape

(6323, 275)

## Final CSV (Output)

In [14]:
df.to_csv('pssm+spd_Pos.csv')